@mixin auth-layout {
    .authPage {
        width: 100vw;
        height: 100vh;
        display: flex;
        color: map-get($colors , primary);
    }
    
    .authContainer {
        display: flex;
        margin: auto;
        flex-direction: column;
        justify-content: center;
    };

};

@mixin auth-box {

    .label {
        text-align: center;
        font-size: map-get($font-size , '2xExtra-large');
        margin-bottom: 1rem;
    }
    
    .inputs {
        display: flex;
        flex-direction: column;
        max-width: 20rem;
    }
    
    .buttonContainer {
        display: flex;
        justify-content: center;
    }
    
    .redirect {
        display: flex;
        justify-content: center;
        font-size: map-get($font-size , small);
        margin-top: 0.5rem;
    }
    
    .message {
        text-align: center;
        margin-top: 1rem;
        color: map-get($colors , bold-gray);
    };
    
};

@mixin handlers() {
    margin: 0.3rem;
    text-align: center;
    cursor: pointer;
    text-decoration: underline
}