.button {
    display: flex;
    justify-content: center;
    border: unset;
    padding: 0.5rem;
    background-color: map-get($colors , secondary);
    color: map-get($colors , white-color);
    font-size: map-get($font-size , medium);
    font-weight: 600;
    border-radius: map-get($border-radius , small);
    text-align: center;
    margin: 0.5rem;
    cursor: pointer;
    min-width: 7rem;
    transition: 0.3s;
    &:hover {
        background-color: map-get($colors , light);
    }
    &.small {
        min-width: 5rem;
    }
    &.large {
        min-width: 10rem;
    }
    &.with100 {
        min-width: 100%;
    }
}