// Base colors variables for project

    $colors: (
        "primary" : #69140e,
        "secondary" : #a44200,
        "light" : #d58936,
        "dark" : #3c1518,
        "back-ground" : #fcfcf3,
        "light-back" : #f8f8ed,
        "white-color" : #fff,
        "light-gray" : #9b9b9b,
        "bold-gray" : #4e4e4e,
        "black" : #242424
    );

// gradients

    $gradients: (
        "loading-back-ground" : linear-gradient(120deg, #f8f8ed4b 0%, #d5883618 100%)
    );

// additional styles set

    $additional: (
        "box-shadow" : #dddddd
    );

// font sizes for the project

    $font-size: (
        "extra-large" : 1.25rem,
        "large" : 1.125rem,
        "medium" : 1rem,
        "small" : 0.875rem,
        "extra-small" : 0.75rem
    );

// border radiuses

    $border-radius: (
        "extra-large" : 0.625rem,
        "large" : 0.438rem,
        "medium" : 0.7rem,
        "small" : 0.313rem,
        "extra-small" : 0.188rem
    )