// Base colors variables for project

    $colors: (
        "primary" : #69140e,
        "secondary" : #a44200,
        "light" : #d58936,
        "dark" : #3c1518,
        "back-ground" : #fcfcef,
        "white-color" : #fff
    );

// additional styles set

    $additional: (
        "box-shadow" : #dddddd
    );

// font sizes for the project

    $font-size: (
        "extra-large" : 1.25rem,
        "large" : 1.125rem,
        "medium" : 1rem,
        "small" : 0.875rem,
        "extra-small" : 0.75rem
    )

